body{
     
}

header{
    background-color: #bbbbbb;
    padding: 20px 0;
}

.principal{
    background: #f3f1f1;
    padding: 20px;
}

.principal p{
    margin-bottom: 10px;
}

.principal h2{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tituloPrincipal{
    padding-left: 30px;
    font-size: 25px;
    font-weight: bold;
}

.tituloCentrado{
    text-align: center;

}

em strong{
    color: red;
}

#mision{
    font-size: 20px;
    text-align: center;
}

#banner{
    width: 100%;
}

.diferenciales{
    background: #ffffff;
    padding: 30px;
}

.diferenciales h3{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}


.lista{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.items{
    font-style: italic;
}

.imagenDiferencial{
    width: 50%;
}

.cabecera{
    width: 75%;
    position: relative;
    margin: 0 auto;
}

nav{
    position: absolute;
    top: 110px;
    right: 0;
}

nav li{
    display: inline;
    margin: 0 0 0 15px;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
}

nav a:hover{
    color: #c78c19;
    text-decoration: underline;
}

.productos{
    width: 75%;
    margin: 0 auto;
    padding: 50px;
}

.productos li{
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px #000000 solid;
    border-radius: 10px;
}

.productos li:hover{
    border-color: #c78c19;
}

.productos li:hover h2{
    font-size: 22px;
}

.productos li:active{
    border-color: #088c19;
}

.productos h2{
    font-size: 20px;
    font-weight: bold;
}

.producto-descripcion{
    font-size: 17px;
}

.producto-precio{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
}

main{
    width: 85%;
    margin: 0 auto;
}

form{
    margin: 40px 0;
}

form label, form p{
    display: block;
    font-size: 18px;
    margin: 0 0 10px;
}

.input_padron{
    display: block;
    margin: 0 0 20px;
    padding: 8px 18px;
    width: 35%;
}

.checkbox{
    margin: 15px 0;
}

footer{
    text-align: center;
    background: url(../imagenes/bg.jpg);
    padding: 30px;
}

.copyright{
    font-size: 15px;
    color: #ffffff;
    margin: 20px;
}

